@import '../../../../styles/bootstrap/variables';

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

header {
  a {
    color: $gray-700;
  }
}

.nav {
  a {
    color: $gray-500;
    &.active {
      color: $gray-800;
      font-weight: bold;
      fa {
        color: $primary;
      }
    }
  }
}

.main {
  background-color: #e2e3ee;
}
