<div>
  <h1>
    Chat Room
  </h1>

  <div>
    <h2>Hello {{ name }}!</h2>
    <form (ngSubmit)="sendMessage()" #chatForm="ngForm">
      <div>
        <label for="message">Message</label>
        <input type="text" id="message" name="message" [(ngModel)]="message" required />
      </div>
      <button type="submit" id="sendmessage" [disabled]="!chatForm.valid">
        Send
      </button>
    </form>
  </div>

  <div *ngFor="let message of messages">
    <span>{{ message }}</span>
  </div>
</div>

<router-outlet></router-outlet>
