@import '../../../../styles/bootstrap/variables';

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.conversation {
  border-radius: $border-radius-sm;

  a {
    text-decoration: none;
    &:hover {
      box-shadow: $box-shadow-lg !important;
    }
  }
}
