@import '../../../../styles/bootstrap/variables';

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chat {
  background-color: #f4f6fa;
}

.close {
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.send {
  right: 0;
}

.messages-container {
  overflow-y: auto;
}
.messages {
  right: 0;
  left: 0;
}

.message {
  min-width: 300px;
}

.ballon {
  position: relative;
  text-align: right;
  background-color: $white;
  border-radius: 40px;

  &:not(.mine) {
    text-align: left;
    color: $gray-300;
    background-color: $primary;

    &:after {
      content: '';
      position: absolute;
      left: 10px;
      top: 70%;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-right-color: $primary;
      border-left: 0;
      border-top: 0;
      margin-top: -10px;
      margin-left: -20px;
    }
  }

  &.mine {
    &:after {
      content: '';
      position: absolute;
      right: 10px;
      top: 70%;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-left-color: $white;
      border-right: 0;
      border-bottom: 0;
      margin-top: -10px;
      margin-right: -20px;
    }
  }
}

.content-container {
  background-color: $gray-100;
  border-radius: 20px;

  input {
    border-radius: 20px;
  }
}
