<div class="d-flex flex-column flex-grow-1 justify-content-end chat shadow-sm position-relative">
  <a routerLink="../" class="btn close rounded-circle shadow-sm position-absolute mt-2 mr-4 text-center" type="button">
    <h2 class="m-0 font-weight-light">&times;</h2>
  </a>
  <div *ngIf="conversation$ | async as conversation" class="d-flex flex-column flex-grow-1 mt-4">
    <div class="d-flex px-4 pb-3 border-bottom">
      <div class="d-flex" *ngFor="let userId of conversation.users">
        <div class="d-flex align-items-center" *ngIf="users[userId] as user">
          <app-avatar [user]="user"></app-avatar>
          <h4 class="mx-2 my-0">
            <span>{{ user.firstName }} </span>
            <span>{{ user.lastName }}</span>
          </h4>
        </div>
      </div>
    </div>
    <div #messages class="flex-grow-1 position-relative messages-container" [scrollTop]="messages.scrollHeight">
      <div class="position-absolute messages">
        <div class="d-flex flex-column justify-content-end pb-4">
          <div
            *ngFor="let message of conversation.messages"
            class="px-5 pt-4 message"
            [class.align-self-end]="message.userId == 1"
          >
            <div class="ballon py-4 px-5 shadow" [class.mine]="message.userId == 1">
              {{ message.content }}
            </div>
            <div class="small mt-1 px-3 text-black-50" [class.text-right]="message.userId == 1">
              {{ message.sentDate | date }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white shadow">
    <form [formGroup]="chatForm" class="d-flex flex-column py-2 px-4" (ngSubmit)="send()" (keyup.enter)="send()">
      <div class="d-flex content-container position-relative">
        <div class="form-group m-0 w-100">
          <input
            id="content"
            name="content"
            type="text"
            class="form-control border-0 bg-transparent w-100"
            placeholder="Enter text"
            formControlName="content"
          />
        </div>
        <div class="position-absolute send">
          <button class="btn btn-primary rounded-circle shadow-sm" type="submit" [disabled]="chatForm.invalid">
            <fa name="paper-plane"></fa>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
